@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

svg {
    font-family: "Zen Tokyo Zoo", sans-serif;
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #59C6F0;
    font-size: 105px;
}

@keyframes stroke {
    0% {
        fill: rgba(89, 198, 240, 0);
        stroke: rgba(89, 198, 240, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(89, 198, 240, 0);
        stroke: rgba(89, 198, 240, 1);
    }
    80% {
        fill: rgba(89, 198, 240, 0);
        stroke: rgba(89, 198, 240, 1);
        stroke-width: 3;
    }
    100% {
        fill: rgba(89, 198, 240, 1);
        stroke: rgba(89, 198, 240, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.header {
    padding: 0;
    background-color: #000;
}

.sidebar {
    width: 200px;
    background-color: #c9c9c9;
    padding: 10px;
}

.footer {
    height: auto;
    background-color: #999;
    margin-top: auto;
    text-align: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.layout {
    display: flex;
    min-height: 100vh;

}

button {
    height: 50px;
    margin: 0;
    cursor: pointer;
    color: white;
    background: white;
    border: 4px solid black;
    transition: 0.1s ease;
    z-index: 1000;
    position: fixed;
}

button:hover {
    border: 2px solid black;
}

#button2 {
    left: 220px;
}

button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p, h1 {
    font-family: "Roboto", sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


.accordion-group {
    width: 100%;
    max-width: 550px;
    box-sizing: border-box;
    font-size: 14px;
}

.acc-item {
    background: #ffffff;
    border: 1px solid #e2e8f0;
    overflow: hidden;
    box-shadow: 0 0px calc(0px * 2) rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.acc-item {
    border-radius: 12px;
    margin-bottom: 12px;
}

.acc-item:last-child {
    margin-bottom: 0;
}

summary {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;
    font-weight: 600;
    color: #1e293b;
    transition: background 0.2s ease;
}

summary:hover {
    background: #f8fafc;
}

summary::-webkit-details-marker {
    display: none;
}

.acc-icon {
    color: #2563eb;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    background: #ffffff;
}

.content-body {
    padding: 20px;
    color: #64748b;
    line-height: 1.6;
}

.acc-item.is-open .acc-icon {
    transform: rotate(180deg);
}